html, body {
	margin:0;
	padding:0;
	height:105%;
	width:100%;
}
::selection {
	color:#FFF;
	background:rgba(199,55,55,.6);
}
body::-webkit-scrollbar {
	width:15px;
	background:rgba(199,55,55,.7)
}
body::-webkit-scrollbar-thumb {
	background:rgba(199,55,55,.9);
	border-radius:5px;
}
/*	INICIAN ESTILOS PARA EL NAVBAR 	*/
.logo-navbar {
	height:90px;
	width:auto;
	margin-top:-20px;
}
.logo-navbar1 {
	height:60px;
	width:auto;
	margin-top:-20px;
}
.navbar-default {
	height:85px;
	position:fixed;
	width:100%;
	border-radius:0px;
	z-index:1;
	background:rgba(199,55,55,0);
	border:0px;
	margin-bottom:0;
	transition:.8s ease-out;
}
.navbar-default1 {
	position:fixed;
	width:100%;
	border-radius:0px;
	height:63px;
	z-index:1;
	background:rgba(199,55,55,0.9);
	border:0px;
	margin-bottom:0;
}
.container-fluid {
	height:80px;
}
.navbar-collapse {
	height:80px;
}
.navbar-nav{
	float:right;
	padding:0.5% 0 0 0;
	height:80px;
	margin-right:7%;
}
.navbar-default .navbar-nav li a {
	color:white;
	text-transform:uppercase;
	font-size:1em;
	transition:ease-out .7s;
}
.navbar-default .navbar-nav li a:hover {
	color:#66D5CA;
	font-size:1.1em;
}
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:focus {
	color:white;
	font-size:1.2em;
}
/*	TERMINAN ESTILOS PARA EL NAVBAR 	*/
.slider-img {
	height:100%;
	background-image:url("../img/slider1.jpg");
	background-size:cover;
	top:0;
	height:100%;
	width:100%;
	background-position:center;
	z-index: 0;
}
.img-down {
	position:relative;
	top:-150px;
	font-size:2em;
	transition:1s ease-out;
}
.container-arrow {
	padding:25px;
	background:#D8BFBF;
	width:25px;
	height:25px;
	margin-left:49%;
	position:absolute;
	border-radius:50%;
	transition:1s ease-out;
}
.arrow-down {
	position:relative;
	text-decoration:none !important;
	color:red !important;
	top:-15px;
	left:-9px;
	transition:1s ease-out;
}
/*	INICIAN ESTILOS PARA MISION, VISION E HISTORIA 	*/
.mvh
{
	height:600px;
	background-image: url("../img/mvh1.jpg");
	padding:4% 0 0 0;
	width:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: cover;
	margin-top:-70px;
}
.mision
{
	width:48%;
	display:inline-block;
	vertical-align:top;
}
.t_mision {
	padding:2% 0 0 12%;
	font-size:3.5em;
	text-transform:uppercase;
	color:rgba(199,55,55,.95);
	font-family:'Lobster', sans-serif;
	font-weight:bold;
}
.p_mision {
	background:rgba(29,111,59,0.3);
	color:#000;
	margin:auto;
	padding:3% 5% 2% 4%;
	font-size:1.3em;
	width:68%;
	text-align:justify;
	transition:ease .4s;
}
.p_mision:hover {
	background:rgba(29,111,59,0.9);
	transform:scale(1.1);
}
.vision
{
	width:48%;
	display:inline-block;
	vertical-align:top;
}
.t_vision {
	padding:2% 0 0 12%;
	font-size:3.5em;
	font-family:'Lobster', sans-serif;
	text-transform:uppercase;
	color:rgba(199,55,55,.95);
	font-weight:bold;
}
.p_vision {
	background:rgba(29,111,59,0.3);
	color:#000;
	margin:auto;
	padding:3% 5% 2% 4%;
	font-size:1.3em;
	width:68%;
	text-align:justify;
	transition:ease .4s;
}
.p_vision:hover {
	background:rgba(29,111,59,0.9);
	transform:scale(1.1);
}
.t_historia {
	padding:2% 0 0 5%;
	font-size:3.5em;
	text-transform:uppercase;
	color:rgba(199,55,55,.95);
	font-family:'Lobster', sans-serif;
	font-weight:bold;
}
.p_historia {
	width:88%;
	margin:auto;
	background:rgba(29,111,59,0.3);
	color:#000;
	padding:2% 1%;
	font-size:1.3em;
	text-align:justify;
	transition:ease .4s;
}
.p_historia:hover {
	background:rgba(29,111,59,0.9);
	transform:scale(1.1);
}
/*	INICIAN ESTILOS PARA MISION, VISION E HISTORIA 	*/
/*	INICIAN ESTILOS PARA SECCION DE CARRERAS 	*/
/*.carreras {
	width:100%;
	display:block;
}
.titulo_carrera {
	width:100%;
	padding:10px 0 0 5%;
	text-transform:uppercase;
	font-size:3em;
	line-height:bold;
	font-family:'Bree Serif';
}
.carrera1 {
	width:93%;
	display:inline-block;
	text-align:justify;
	vertical-align:top;
	transition:.4s ease-in;
	margin:2% 3%;
}
.carrera1:hover {
	background:rgba(102,213,202,0.4);
}
.container_carrera1 {
	display:inline-block;
	width:49%;
}
.carrera1 img {
	width:90%;
	margin:auto;
	display:block;
}
.t_carrera1 {
	font-size:1.7em;
	font-weight:bold;
	text-align:center;
	font-family:'Acme';
}
.p_carrera1 {
	width:70%;
	margin:auto;
	font-size:1.2em;
	text-align:justify;
}
.i_carrera1 {
	background-image:url("../img/soporte.jpg");
	background-size:cover;
	width:50%;
	height:210px;
	margin:5% auto;
}
.container_carrera2 {
	display:inline-block;
	width:49%;
}
.carrera2 {
	width:93%;
	display:inline-block;
	text-align:justify;
	vertical-align:top;
	transition:.4s ease-in;
	margin:2% 3%;
}
.carrera2:hover {
	background:rgba(102,213,202,0.4);
}
.carrera2 img {
	width:90%;
	margin:auto;
	display:block;
}
.t_carrera2 {
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
}
.p_carrera2 {
	width:70%;
	margin:auto;
	font-size:1.2em;
}
.i_carrera2 {
	background-image:url("../img/agropecuario.jpg");
	background-size:cover;
	width:50%;
	height:210px;
	margin:5% auto;
}*/
/*	TERMINAN ESTILOS PARA SECCION DE CARRERAS 	*/
/*	INICIAN ESTILOS PARA LA SECCION DE GALERIA 	*/
.titulo_galeria {
	font-size: 3.5em;
	text-transform: uppercase;
	color: rgba(199, 55, 55, 0.95);
	font-family: Lobster, sans-serif;
	font-weight: bold;
	padding: 0% 0px 0px 5%;
	margin: 3% 0 1.5%;
	letter-spacing:1px;
}
.gallery a {
	text-decoration:none;
	color:rgba(199,55,55,.7);
	margin:.5% 0 .5% 4.5%;
	transition:ease-in .5s;
	line-height:1.5px;
}
.gallery a:hover {
	font-size:1.05em;
	text-decoration-style: wavy;
}*/*/*/*/*/*/
/*	TERMINAN ESTILOS PARA LA SECCION DE GALERIA */
/*	INICIAN ESTILOS PARA SECCION DE CONTACTO 	*/
.contact_img {
	background-image:url("../img/contact-us.jpg");
	background-repeat:no-repeat;
	width:100%;
	height:530px;
	background-size:cover;
}
.titulo_contacto {
	font-size: 3.5em;
	text-transform: uppercase;
	color: rgba(199, 55, 55, 0.95);
	font-family: Lobster, sans-serif;
	font-weight: bold;
	padding: 0% 0px 0px 5%;
	margin: 4% 0 1.5%;
	letter-spacing:1px;
}
.contacto {
	display:block;
	width:100%;
}
.contacto form {
	padding:1% 30%;
}
.input {
	width:100%;
	margin:3% auto;
	padding:10px 0 10px 15px;
	text-transform:uppercase;
	background:rgba(199,55,55,.4);
	border:rgba(199,55,55,.8) 2px solid;
}
::-webkit-input-placeholder
/*::-moz-placeholder,
::-ms-input-placeholder,*/ {
	color:rgba(199,55,55,1);
	letter-spacing:2px;
	word-spacing:4px;
	font-family:Acme;
	/*color:#FFF;*/
}
.contacto form textarea {
	width:100%;
	max-width:100%;
	min-width:100%;
	height:90px;
	min-height:90px;
	max-height:120px;
	text-transform:uppercase;
	padding:2% 3%;
	background:rgba(199,55,55,.4);
	border:rgba(199,55,55,.8) 2px solid;
	margin-top:3%;
}
.contacto .button {
	width:100%;
	margin:5% 0;
	background:rgba(199,58,58,.75);
	border:2px solid rgba(199,58,58,.7);
	color:#FFF;
	font-size:1.3em;
	text-transform:uppercase;
	padding:2%;
	transition:ease-in .4s;
	font-weight:bold;
}
.contacto .button:hover {
	background:rgba(199,58,58,.9);
	border:2px solid rgba(199,58,58,.9);
	color:white;
	font-weight:bold;
}
/*	TERMINAN ESTILOS PARA SECCION DE CONTACTO 	*/
/*	INICIAN ESTILOS PARA FOOTER 	*/
footer {
	display:table;
	width:100%;
	height:50px;
	background:rgba(199,55,55,.9);
}
.number {
	display:table-cell;
	width:30%;
	vertical-align:middle;
	padding:0 0 0 2%;
	color:#FFF;
	font-size:1.1em;
	text-transform:capitalize;
	font-family:'Acme', sans-serif;
}
.social_net {
	display:table-cell;
	width:30%;
	vertical-align:middle;
	padding:0 0 0 2%;
	color:#FFF;
	font-size:1.1em;
	text-transform:capitalize;
}
.by {
	display:table-cell;
	width:30%;
	vertical-align:middle;
	padding:0 0 0 2%;
	color:#FFF;
	font-size:1.1em;
	text-transform:capitalize;
}
/* 	TERMINAN ESTILOS PARA FOOTER 	*/











/* 		INICIAN ESTILOS PARA SECCION DE CARRERA ESTILO FM 	*/
* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.titulo_carrera {
    font-size: 3.5em;
    text-transform: uppercase;
    color: rgba(199, 55, 55, 0.95);
    font-family: Lobster, sans-serif;
    font-weight: bold;
    padding: 0% 0px 0px 5%;
    margin: 3% 0 -3%;
}

body {
	background: #F0F2F1;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	/*max-width: 1200px;*/
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px 45px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img {
	/* Si queremos podemos aplicar un efecto blur a nuestra imagen al girar */
	/*filter:blur(2px);*/
}

figure {
	width: 450px;
	height: 450px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	/*backface-visibility: hidden;*/
}

.contenedor_tarjeta:nth-child(1) figure .frontal:nth-child(1) {
	background:url("../img/agropecuario.jpg");
	background-size:cover;
}

.contenedor_tarjeta:nth-child(2) figure .frontal {
	background:url("../img/soporte.jpg");
	background-size:cover;
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

figure .trasera .titulo {
	color:rgba(199,55,55,1);
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size:2em;
	font-weight:bold;
	text-transform:uppercase;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	font-size:1.4em;
	color:rgba(199,55,55,1);
	font-weight:bold;

@media screen and (max-width: 992px) { 
	figure .trasera {
		/*position: relative;*/
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
	}

}
/* 		TERMINAN ESTILOS PARA SECCION DE CARRERA ESTILO FM 	*/